@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2222 47.3684% 11.1765%;
    --card: 0 0% 100%;
    --card-foreground: 222.2222 47.3684% 11.1765%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2222 47.3684% 11.1765%;
    --primary: 8.1203 100% 73.9216%;
    --primary-foreground: 222.2222 47.3684% 11.1765%;
    --secondary: 210 40% 96.0784%;
    --secondary-foreground: 222.2222 47.3684% 11.1765%;
    --muted: 210 40% 96.0784%;
    --muted-foreground: 215.3846 16.318% 46.8627%;
    --accent: 210 40% 96.0784%;
    --accent-foreground: 222.2222 47.3684% 11.1765%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.2857 31.8182% 91.3725%;
    --input: 214.2857 31.8182% 91.3725%;
    --ring: 8.1203 100% 73.9216%;
    --chart-1: 8.1203 100% 73.9216%;
    --chart-2: 177.0492 52.1368% 45.8824%;
    --chart-3: 40 67.2% 50.9804%;
    --chart-4: 207.1698 72.6027% 57.0588%;
    --chart-5: 259.8214 72.7273% 69.8039%;
    --sidebar: 210 40% 98.0392%;
    --sidebar-foreground: 215.3846 16.318% 46.8627%;
    --sidebar-primary: 8.1203 100% 73.9216%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214.2857 31.8182% 91.3725%;
    --sidebar-accent-foreground: 222.2222 47.3684% 11.1765%;
    --sidebar-border: 214.2857 31.8182% 91.3725%;
    --sidebar-ring: 8.1203 100% 73.9216%;
    --font-sans: Inter;
    --font-serif: Lora;
    --font-mono: JetBrains Mono;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.05),
      0px 1px 2px -3px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.05),
      0px 1px 2px -3px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.05),
      0px 2px 4px -3px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.05),
      0px 4px 6px -3px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.05),
      0px 8px 10px -3px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 220 25.7143% 13.7255%;
    --foreground: 214.2857 31.8182% 91.3725%;
    --card: 217.7778 23.0769% 22.9412%;
    --card-foreground: 214.2857 31.8182% 91.3725%;
    --popover: 220 25.7143% 13.7255%;
    --popover-foreground: 214.2857 31.8182% 91.3725%;
    --primary: 8.1203 100% 73.9216%;
    --primary-foreground: 220 25.7143% 13.7255%;
    --secondary: 218 16.8539% 34.902%;
    --secondary-foreground: 214.2857 31.8182% 91.3725%;
    --muted: 217.7778 23.0769% 22.9412%;
    --muted-foreground: 213.75 20.2532% 69.0196%;
    --accent: 218 16.8539% 34.902%;
    --accent-foreground: 214.2857 31.8182% 91.3725%;
    --destructive: 0 76.2557% 57.0588%;
    --destructive-foreground: 0 0% 100%;
    --border: 217.7778 23.0769% 22.9412%;
    --input: 0 0% 100% / 0.1;
    --ring: 8.1203 100% 73.9216%;
    --chart-1: 8.1203 100% 73.9216%;
    --chart-2: 174.4615 58.5586% 56.4706%;
    --chart-3: 51.3158 89.4118% 66.6667%;
    --chart-4: 205.2174 79.3103% 65.8824%;
    --chart-5: 261.875 81.3559% 76.8627%;
    --sidebar: 220 25.7143% 13.7255%;
    --sidebar-foreground: 213.75 20.2532% 69.0196%;
    --sidebar-primary: 8.1203 100% 73.9216%;
    --sidebar-primary-foreground: 220 25.7143% 13.7255%;
    --sidebar-accent: 218 16.8539% 34.902%;
    --sidebar-accent-foreground: 214.2857 31.8182% 91.3725%;
    --sidebar-border: 217.7778 23.0769% 22.9412%;
    --sidebar-ring: 8.1203 100% 73.9216%;
    --font-sans: Inter;
    --font-serif: Lora;
    --font-mono: JetBrains Mono;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.1),
      0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.1),
      0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.1),
      0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
